* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
}

.text-field:focus {
  outline: none;
}

.text-field {
  font-family: monospace;
  caret-color: #3c3c3c;
  width: 100%;
  padding: 20px 300px;
  margin: auto;
  color: #3c3c3c;
  background-color: #fafafa;
  line-height: 1.6;
  font-size: 20px;
  text-overflow: ellipsis;
}
