* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #3c3c3c;
  background-color: #fafafa;
  font-family: sans-serif;
  width: 700px;
  margin: auto;
}

h1, h2 {
  margin: 10px;
  font-weight: bold;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

p, a {
  margin: 10px;
  font-size: 20px;
}
